directory_structure
alive_progress
fade
python-dotenv
pathlib
openai
gradio
ipywidgets
inquirer
prettytable
jira
beautifulsoup4
aiohttp>=3.10.11 # not directly required, pinned by Snyk to avoid a vulnerability
