transformers
streamlit-chat
huggingface-hub
torch
tqdm
streamlit-extras
hugchat
directory_structure
alive_progress
fade
python-dotenv
pathlib
openai
gradio
ipywidgets
inquirer
prettytable
jira
python-multipart>=0.0.18 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.4.2 # not directly required, pinned by Snyk to avoid a vulnerability
