transformers
streamlit-chat
huggingface-hub
torch
tqdm
streamlit-extras
hugchat
directory_structure
alive_progress
fade
python-dotenv
pathlib
openai
gradio
ipywidgets
inquirer
prettytable
jira
aiohttp>=3.10.11 # not directly required, pinned by Snyk to avoid a vulnerability
